<launch>
    <env name="TURTLEBOT3_MODEL" value="burger" />

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
        <arg name="gui" value="false" />
    </include>

    <node name="eco_router_node" pkg="my_project" type="eco_router.py" output="screen" />

    <node name="communication_watchdog_node" pkg="my_project" type="communication_watchdog.py" output="screen" />
</launch>
